.container {
  display: flex;
  flex-direction: column;
}

.code {
  font-family: var(--font-mono);
  color: var(--color-text-sub);
  font-size: 12px;
}

.habis {
  color: var(--color-red);
  font-weight: 700;
}

.rendah {
  color: var(--color-yellow);
  font-weight: 700;
}
